@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: url(./background.png);
  background-size: cover;
  height: 100vh;
  overflow: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

main {
  display: flex;
  justify-content: space-between;
}

.current-weather {
  margin-left: 2.5em;
  position: relative;
}

.city-name {
  font-size: 2.3em;
}

.current-date {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -1em;
  top: 4em;
}

img[id='current-weather-icon'] {
  height: 10em;
  width: auto;
}

.current-description {
  position: absolute;
  top: 7.3em;
  font-size: 1.2em;
}

.current-temperature {
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  left: 3.8em;
  top: 2.5em;
}

#c-to-f-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  position: absolute;
  left: 11.8em;
  top: 5.2em;
}

#c-to-f-btn:hover {
  color: rgb(255, 255, 255);
}

#c-to-f-btn:active {
  transform: scale(0.9);
}

.location-search {
  align-self: center;
  background-color: grey;
  padding: 0.7em 0 0.7em 1em;
  border-radius: 10px;
  min-width: 15em;
}

input[id='city-input'] {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  width: 83%;
  font-size: 1.1em;
}

input[id='city-input']::placeholder {
  color: white;
}

.location-search button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
}

.location-search button:hover {
  cursor: pointer;
}

.current-data {
  margin-right: 2em;
  margin-top: -1.5em;
}

.current-data-label {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
}

.current-data-value {
  font-size: 1.3em;
  font-weight: bold;

}

.forecast-selection-wrapper {
  margin-left: 2.5em;
}

#hourly-btn {
  margin-right: 1em;
}

#hourly-btn,
#daily-btn {
  width: 70px;
  padding: 0.5em 0;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

#hourly-btn:hover,
#daily-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

#hourly-btn:active,
#daily-btn:active {
  transform: scale(0.98);
}

.forecast-wrapper {
  display: flex;
  align-self: center;
  max-width: 70vw;
}

#forecast-left-arrow,
#forecast-right-arrow {
  display: flex;
  align-self: center;
  font-size: 1.3em;
  transition: transform ease 0.1s;
}

#forecast-left-arrow:hover,
#forecast-right-arrow:hover {
  cursor: pointer;
  transform: scale(1.4);
  color: white;
}

#forecast-left-arrow {
  margin-right: 1em;
}

#forecast-right-arrow {
  margin-left: 1em;
}

.forecast-content {
  display: flex;
  overflow: auto;
  padding: 1em 0.8em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.daily-card,
.hourly-card {
  text-align: center;
  list-style-type: none;
}

.daily-max-temperature,
.daily-label,
.hourly-label,
.hourly-temperature {
  font-weight: bold;
}

.daily-min-temperature {
  font-size: 0.8em;
}

.hourly-precipitation {
  font-size: 0.8em;
}