@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: url(./background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.current-weather-wrapper {
  margin-left: 3em;
  margin-top: 2em;
}

.current-weather {
  position: relative;
}

.city-name {
  font-size: 2.3em;
}

.country-name {
  font-weight: 400;
  font-size: 0.5em;
}

.current-date {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -1em;
  top: 3em;
}

img[id='current-weather-icon'] {
  height: 10em;
  width: auto;
  position: absolute;
  left: -1.3em;
}

.current-description {
  position: absolute;
  top: 7.3em;
  left: 0.8em;
  font-size: 1.2em;
  white-space: nowrap;
}

.current-temperature {
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  left: 3.8em;
  top: 2em;
}

#change-temp-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  position: absolute;
  left: 11.8em;
  top: 4.2em;
}

#change-temp-btn:active {
  transform: scale(0.9);
}

.search-wrapper {
  max-width: 16em;
  margin-top: 11em;
}

.location-search {
  background-color: grey;
  padding: 0.7em 0 0.7em 1em;
  border-radius: 10px;
}

input[id='city-input'] {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  width: 83%;
  font-size: 1em;
}

input[id='city-input']::placeholder {
  color: white;
}

.location-search button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.1em;
}

.location-search button:hover {
  cursor: pointer;
}

.error-display {
  display: block;
  margin-top: 1em;
  max-width: 19em;
  font-size: 0.8em;
}

.hide-error {
  visibility: hidden;
}

.current-data {
  margin-right: 4em;
  margin-top: 1.5em;
}

.current-data-label {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
}

.current-data-value {
  font-size: 1.3em;
  font-weight: bold;

}

.forecast-selection-wrapper {
  margin-left: 3.3em;
}

#hourly-btn {
  margin-right: 1em;
}

.forecast-selection-btn {
  width: 80px;
  padding: 0.5em 0;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  transition: transform ease 0.1s;
}

.forecast-selection-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.forecast-selection-btn:active {
  transform: scale(0.98);
}

.forecast-btn-selected {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.forecast-content-wrapper {
  display: flex;
  margin: 1em 0 2em 0;
  padding: 0 1em;
}

.forecast-arrow {
  display: flex;
  align-self: center;
  font-size: 1.3em;
  transition: transform ease 0.1s;
}

.hide-arrow {
  visibility: hidden;
}

.forecast-arrow:hover {
  cursor: pointer;
  transform: scale(1.4);
  color: white;
}

#forecast-left-arrow {
  margin-right: 1em;
}

#forecast-right-arrow {
  margin-left: 1em;
}

.forecast-content {
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 0 0.8em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 13em;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.forecast-content::-webkit-scrollbar {
  display: none;
}

.daily-card,
.hourly-card {
  text-align: center;
  list-style-type: none;
  font-size: 1.2em;
  padding: 0 0.7em;
}

.hourly-card {
  min-width: 7em;
}

.daily-card {
  min-width: 9em;
}

.daily-max-temperature,
.daily-label,
.hourly-label,
.hourly-temperature {
  font-weight: bold;
}

.time-wrapper {
  display: flex;
  flex-direction: column;
}

.daily-label {
  font-size: 1.1em;
}

.daily-min-temperature {
  font-size: 1.2em;
}

.hourly-precipitation {
  font-size: 0.8em;
}

.hourly-temperature,
.daily-max-temperature {
  font-size: 1.5em;
}

@media (max-width: 700px) {
  .current-weather-wrapper {
    margin-left: 0;
    margin-top: -1em;
    transform: scale(0.8);
  }

  .country-name {
    display: block;
  }

  .current-data {
    margin-top: 0;
    margin-right: 1em;
  }

  .current-temperature {
    left: 3em;
  }

  #change-temp-btn {
    left: 10em;
  }

  .forecast-wrapper {
    margin: 0;
    transform: scale(0.9);
  }

  .forecast-arrow {
    display: none;
  }

  .forecast-selection-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .forecast-content-wrapper {
    padding: 0;
    margin-bottom: 0.5em;
  }

  .forecast-content {
    flex-direction: column;
    padding: 0;
    height: 35vh;
  }

  .daily-card,
  .hourly-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    width: 100vw;
  }
}

@media (max-width: 400px) {
  main {
    margin-bottom: 0;
    height: 47vh;
  }

  .current-weather-wrapper {
    transform: scale(0.7);
    margin-left: -1.2em;
  }

  .icon-wrapper {
    top: 5.5em;
  }

  .current-data {
    transform: scale(0.7);
    margin-top: -1.5em;
    margin-right: 0.2em;
  }

  .current-temperature {
    top: 2.8em;
    left: 2.5em;
  }

  #change-temp-btn {
    top: 5.8em;
    left: 9.2em;
  }

  .forecast-selection-wrapper {
    transform: scale(0.8);
  }

  .daily-card,
  .hourly-card {
    transform: scale(0.9);
  }
}